body{
    font-family: Arial,sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f4f4f4;
    display: flex; /* use flexbox for centering the entire resume container */
    justify-content: center; /* center horizontally */
align-items: flex-start;
min-height: 100vh; /* ensure body takes full viewport height */
}
h1 {
    text-align: center;
}

h2{
    text-align: center;
    background-color: aquamarine;
}
#personal{
    background-color: rgb(219, 122, 19);
}
section{
    width: 8.5in;
}
